body{
  /* background-image: url('https://wallpaperaccess.com/full/1248201.jpg'); */
  background-image: url('output-onlinepngtools\ \(1\).png');
}

div.navbar{
  background-color: whitesmoke;
}

div.upper{
  background-color: gray;
}

div.output p{
  color:blue;
}

h1{
    text-align: center;
    color: white;
    margin: 10px;;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: whitesmoke;
  
}



li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(151, 151, 151);
}

p{
    text-align: center;
    color: white;
    margin: 10px;
}


a:link {
  color: blue);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

