h1{
    text-align: center;
    color: gray;
    margin: 10px;;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color:rgb(82, 82, 82);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(151, 151, 151);
}

p{
    text-align: center;
    color: gray;
    margin: 10px;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
 }

 .wrapper {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    justify-content: center;
    margin: 10px;
    overflow: auto;
    
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 75%;
    justify-content: center;
    text-align: center;
  }



        a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(236, 255, 254);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
